<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v15/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v15/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v15/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v15/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="Login_v15/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v15/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v15/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="Login_v15/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v15/css/util.css">
	<link rel="stylesheet" type="text/css" href="Login_v15/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(Login_v15/images/product-1.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form class="login100-form validate-form" method="post" >
					<input type="hidden" name="_csrf" value="<%=csrfToken%>">
						<span class="label-input100">fullName</span>
						<input class="input100" type="text" name="fullName" placeholder="Enter fullName">
						<span class="focus-input100"></span>
                        		<% let fullName= validator.find(err => err.instancePath === "/fullName"); %>	
								<% if(fullName){%>
									<h5><%=fullName.message%></h5>
								<%}%>		
						<span class="label-input100">cardNumber</span>
						<input class="input100" type="number" name="cardNumber" placeholder="Enter cardNumber">
						<span class="focus-input100"></span>
					
						<% let cardNumber= validator.find(err => err.instancePath === "/cardNumber"); %>	
						<% if(cardNumber){%>
							<h5><%=cardNumber.message%></h5>
						<%}%>
						<%if(check && check !=""){%>
							<h5>cardNumber is arleady taken </h5>
						<%}%>
						
						<span class="label-input100">phoneNumber</span>
						<input class="input100" type="text" name="phoneNumber" placeholder="Enter phoneNumber">
						<span class="focus-input100"></span>
						<% let phoneNumber= validator.find(err => err.instancePath === "/phoneNumber"); %>	
						<% if(phoneNumber){%>
							<h5><%=phoneNumber.message%></h5>
						<%}%>
						<span class="label-input100">parentPhone</span>
						<input class="input100" type="text" name="parentPhone" placeholder="Enter parentPhone">
						<span class="focus-input100"></span>
						<% let parentPhone= validator.find(err => err.instancePath === "/parentPhone"); %>	
						<% if(parentPhone){%>
							<h5><%=parentPhone.message%></h5>
						<%}%>
						<span class="label-input100">government</span>
						<input class="input100" type="text" name="government" placeholder="Enter government">
						<span class="focus-input100"></span>
						<% let government= validator.find(err => err.instancePath === "/government"); %>	
						<% if(government){%>
							<h5><%=government.message%></h5>
						<%}%>
						<span class="label-input100">grade</span>
						<input class="input100" type="text" name="grade" placeholder="Enter grade">
						<span class="focus-input100"></span>
						<% let grade= validator.find(err => err.instancePath === "/grade"); %>	
						<% if(grade){%>
							<h5><%=grade.message%></h5>
						<%}%>
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="Enter password">
						<span class="focus-input100"></span>
						<% let password= validator.find(err => err.instancePath === "/password"); %>	
						<% if(password){%>
							<h5><%=password.message%></h5>
						<%}%>
						<span class="label-input100">confirm Password</span>
						<input class="input100" type="password" name="confirmPassword" placeholder="Enter confirm password">
						<span class="focus-input100"></span>
					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

				</form>
				<%for(let i of validator){%>
					<h5><%=i.message%></h5>
				<%}%>
				
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="Login_v15/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="Login_v15/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="Login_v15/vendor/bootstrap/js/popper.js"></script>
	<script src="Login_v15/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="Login_v15/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="Login_v15/vendor/daterangepicker/moment.min.js"></script>
	<script src="Login_v15/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="Login_v15/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="Login_v15/js/main.js"></script>

</body>
</html>